@import "tailwindcss";

@theme {
  --color-wedding-primary: #E6D7C3;
  --color-wedding-accent: #B96F7D;
  --color-wedding-light: #F7F4EF;
  --color-wedding-warm: #D8CCC0;
  --color-wedding-dark: #3B3029;
  --font-script: var(--font-script);
  --font-serif: var(--font-serif);
  --font-serif-sc: var(--font-serif-sc);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-wedding-light);
  color: var(--color-wedding-dark);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-script);
}

h1 {
  font-size: 48px;
}
h2 {
  font-size: 32px;
}

p, span, a, li {
  font-family: var(--font-serif);
}

p {
  font-size: 16px;
}

html,
body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}